header {
  position: fixed;
  width: 100%;

  background-color: $white;
  padding: 1rem;
  border-bottom: 1px solid $color-border;

  z-index: 100;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}
