.page {
  position: relative;

  width: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;

  .container {
    display: flex;
    gap: 4%;
  }

  .timeline {
    position: relative;
    width: 61%;
  }
}

@media screen and (max-width: 1200px) {
  .page {
    position: relative;
    .timeline {
      position: relative;
      width: 100%;
      padding: 0.4rem;
    }
  }
}
