$title-ff: 'Apercu', sans-serif;
$default-ff: 'Apercu', sans-serif;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$light: #f3f5f7;
$dark: rgb(31, 31, 31);
$color-middle: rgb(161, 161, 161);
$color-border: #e5e5e6;

$padding-layout: 4rem;
